In [7]:
using CSV,  DataFrames

periodo_anterior(x::Integer) =  x % 100 > 1  ?  x-1  : 12 + (div(x,100) -1) * 100

df = CSV.read("/home/gscm_5950/Downloads/competencia_03_crudo.csv", DataFrame)
sort!(df, [:numero_de_cliente, :foto_mes])

4893028×154 DataFrame. Omitted printing of 150 columns
│ Row     │ numero_de_cliente │ foto_mes │ active_quarter │ cliente_vip │
│         │ Int64             │ Int64    │ Int64          │ Int64       │
├─────────┼───────────────────┼──────────┼────────────────┼─────────────┤
│ 1       │ 29183981          │ 201901   │ 1              │ 0           │
│ 2       │ 29183981          │ 201902   │ 1              │ 0           │
│ 3       │ 29183981          │ 201903   │ 1              │ 0           │
│ 4       │ 29183981          │ 201904   │ 1              │ 0           │
│ 5       │ 29183981          │ 201905   │ 1              │ 0           │
│ 6       │ 29183981          │ 201906   │ 1              │ 0           │
│ 7       │ 29183981          │ 201907   │ 1              │ 0           │
⋮
│ 4893021 │ 188095983         │ 202109   │ 0              │ 0           │
│ 4893022 │ 188102798         │ 202109   │ 1              │ 0           │
│ 4893023 │ 188106555         │ 202109   │ 0              │ 0           │
│ 4893024 │ 188116410         │ 202109   │ 1              │ 0           │
│ 4893025 │ 188117144         │ 202109   │ 0              │ 0           │
│ 4893026 │ 188119945         │ 202109   │ 0              │ 0           │
│ 4893027 │ 188127016         │ 202109   │ 0              │ 0           │
│ 4893028 │ 188128161         │ 202109   │ 0              │ 0           │

In [8]:
global periodo_ultimo = maximum( df.foto_mes )
global periodo_anteultimo = periodo_anterior( periodo_ultimo)

# assign most common class values
df.clase_ternaria = @. ifelse( df.foto_mes < periodo_anteultimo, "CONTINUA", missing )

# pre compute sequential time
periodo = @. div(df.foto_mes,100)*12 + df.foto_mes%100

global last = nrow(df)

for i in 1:last
  if df.foto_mes[i] <= periodo_anteultimo &&  i < last && df.numero_de_cliente[i] != df.numero_de_cliente[i+1]
          df.clase_ternaria[i] = "BAJA+1"
  end

  if df.foto_mes[i] < periodo_anteultimo &&  i+1 < last && df.numero_de_cliente[i] == df.numero_de_cliente[i+1] &&  periodo[i+1] == periodo[i] +1 &&
        ( df.numero_de_cliente[i+1] != df.numero_de_cliente[i+2]  || df.numero_de_cliente[i+1] == df.numero_de_cliente[i+2] && periodo[i+2]  > periodo[i+1] +2)
          df.clase_ternaria[i] = "BAJA+2"
  end
end

CSV.write( "competencia_03_julia.csv", df )

"competencia_03_julia.csv"